option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app
    NumProcesses: 2
    NumThreads: 15
commands:
  01_kill_gunicorn:
    command: "pkill gunicorn || true"
  02_start_gunicorn:
    command: "source /var/app/venv/*/bin/activate && cd /var/app/current && gunicorn -w $NumProcesses --threads $NumThreads --bind 0.0.0.0:8000 application:app"
