option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
container_commands:
  01_createsuperuser:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py createsuperuser --noinput"
    leader_only: true
